[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=reittiopas_qtquick
Exec=/opt/reittiopas_qtquick/bin/reittiopas_qtquick
Icon=reittiopas_qtquick64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
